dist: xenial
language: python
python:
  - '3.5'
  - '3.6'
  - '3.7'
  - '3.8'
install:
  - pip install tox-travis
  - pip install coveralls
  - if [[ $TRAVIS_PYTHON_VERSION == 3.8 ]]; then pip install black flake8 bandit; fi
script:
  - tox
  - if [[ $TRAVIS_PYTHON_VERSION == 3.8 ]]; then black . --check; fi
  - if [[ $TRAVIS_PYTHON_VERSION == 3.8 ]]; then flake8 .; fi
  - if [[ $TRAVIS_PYTHON_VERSION == 3.8 ]]; then bandit letsagree/*; fi
services:
  - postgresql
  - mysql
addons:
  mariadb: 10.4.10
env:
  - MARIADB_USER=root MARIADB_PASSWD= POSTGRES_USER=postgres POSTGRES_PASSWD= TOX_DB_NAME=letsagree
after_success:
  - coveralls
